.main-container{
    display: flex;
    flex-direction: column;
    /* margin: 0 50vh; */
    margin-top: 18vh;
    flex-wrap: wrap;
    justify-content: center;
}
.header{
    display: flex;
    justify-content:center;
    padding-top: 20vh;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}