
.main-container{
    display: flex;
    flex-direction: column;
    margin: 0 50vh;
    margin-top: 18vh;
}
h1{
    display: flex;
    justify-content: center;
    padding-top: 20vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}