*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
  .question{
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    padding: 1vh;
    cursor: pointer;
    display: flex;
    margin-top: 1vh;
    justify-content:space-between;
    min-width: fit-content;

  }
  .answer{
    margin-top: 1vh;
    background-color: rgba(184, 184, 184, 0.135);
    padding: 1vh;
  }
