*{
    border:2px solid red ;
    margin: 0;
    padding: 0;
  }
  

  .accordion-container{
   top: 50%;
  }
  .question{
    background-color: white;
    border: 2px solid rgb(255, 255, 255);
    padding: 1vh;
    cursor: pointer;
    display: flex;
    margin-top: 1vh;
    justify-content:space-between;
    flex-wrap: wrap;
    margin: auto;
  }
  .answer{
    margin-top: 1vh;
  }
